1. Spark Dataframe Basics

    1. Use the starter code above to create a pandas dataframe.
    1. Convert the pandas dataframe to a spark dataframe. From this point
       forward, do all of your work with the spark dataframe, not the pandas
       dataframe.
    1. Show the first 3 rows of the dataframe.
    1. Show the first 7 rows of the dataframe.
    1. View a summary of the data using `.describe`.
    1. Use `.select` to create a new dataframe with just the `n` and `abool`
       columns. View the first 5 rows of this dataframe.
    1. Use `.select` to create a new dataframe with just the `group` and `abool`
       columns. View the first 5 rows of this dataframe.
    1. Use `.select` to create a new dataframe with the `group` column and the
       `abool` column renamed to `a_boolean_value`. Show the first 3 rows of
       this dataframe.
    1. Use `.select` to create a new dataframe with the `group` column and the
       `n` column renamed to `a_numeric_value`. Show the first 6 rows of this
       dataframe.

1. Column Manipulation

    1. Use the starter code above to re-create a spark dataframe. Store the
       spark dataframe in a varaible named `df`

    1. Use `.select` to add 4 to the `n` column. Show the results.

    1. Subtract 5 from the `n` column and view the results.

    1. Multiply the `n` column by 2. View the results along with the original
       numbers.

    1. Add a new column named `n2` that is the `n` value multiplied by -1. Show
       the first 4 rows of your dataframe. You should see the original `n` value
       as well as `n2`.

    1. Add a new column named `n3` that is the n value squared. Show the first 5
       rows of your dataframe. You should see both `n`, `n2`, and `n3`.

    1. What happens when you run the code below?

        ```python
        df.group + df.abool
        ```

    1. What happens when you run the code below? What is the difference between
       this and the previous code sample?

        ```python
        df.select(df.group + df.abool)
        ```

    1. Try adding various other columns together. What are the results of
       combining the different data types?

1. Spark SQL

    1. Use the starter code above to re-create a spark dataframe.
    1. Turn your dataframe into a table that can be queried with spark SQL. Name
       the table `my_df`. Answer the rest of the questions in this section with
       a spark sql query (`spark.sql`) against `my_df`. After each step, view
       the first 7 records from the dataframe.
    1. Write a query that shows all of the columns from your dataframe.
    1. Write a query that shows just the `n` and `abool` columns from the
       dataframe.
    1. Write a query that shows just the `n` and `group` columns. Rename the
       `group` column to `g`.
    1. Write a query that selects `n`, and creates two new columns: `n2`, the
       original `n` values halved, and `n3`: the original n values minus 1.
    1. What happens if you make a SQL syntax error in your query?

1. Type casting

    1. Use the starter code above to re-create a spark dataframe.

    1. Use `.printSchema` to view the datatypes in your dataframe.

    1. Use `.dtypes` to view the datatypes in your dataframe.

    1. What is the difference between the two code samples below?

        ```python
        df.abool.cast('int')
        ```

        ```python
        df.select(df.abool.cast('int')).show()
        ```

    1. Use `.select` and `.cast` to convert the `abool` column to an integer
       type. View the results.
    1. Convert the `group` column to a integer data type and view the results.
       What happens?
    1. Convert the `n` column to a integer data type and view the results. What
       happens?
    1. Convert the `abool` column to a string data type and view the results.
       What happens?

1. Built-in Functions

    1. Use the starter code above to re-create a spark dataframe.
    1. Import the necessary functions from `pyspark.sql.functions`
    1. Find the highest `n` value.
    1. Find the lowest `n` value.
    1. Find the average `n` value.
    1. Use `concat` to change the `group` column to say, e.g. "Group: x" or
       "Group: y"
    1. Use `concat` to combine the `n` and `group` columns to produce results
       that look like this: "x: -1.432" or "z: 2.352"

1. Filter / Where

    1. Use the starter code above to re-create a spark dataframe.
    1. Use `.filter` or `.where` to select just the rows where the group is `y`
       and view the results.
    1. Select just the columns where the `abool` column is false and view the
       results.
    1. Find the columns where the `group` column is *not* `y`.
    1. Find the columns where `n` is positive.
    1. Find the columns where `abool` is true and the `group` column is `z`.
    1. Find the columns where `abool` is true or the `group` column is `z`.
    1. Find the columns where `abool` is false and `n` is less than 1
    1. Find the columns where `abool` is false or `n` is less than 1

1. When / Otherwise

    1. Use the starter code above to re-create a spark dataframe.
    1. Use `when` and `.otherwise` to create a column that contains the text "It
       is true" when `abool` is true and "It is false"" when `abool` is false.
    1. Create a column that contains 0 if n is less than 0, otherwise, the
       original n value.

1. Sorting

    1. Use the starter code above to re-create a spark dataframe.
    1. Sort by the `n` value.
    1. Sort by the `group` value, both ascending and descending.
    1. Sort by the group value first, then, within each group, sort by `n`
       value.
    1. Sort by `abool`, `group`, and `n`. Does it matter in what order you
       specify the columns when sorting?

1. Aggregating

    1. What is the average `n` value for each group in the `group` column?
    1. What is the maximum `n` value for each group in the `group` column?
    1. What is the minimum `n` value by `abool`?
    1. What is the average `n` value for each unique combination of the `group`
       and `abool` column?

Spark Dataframe Basics

Use the starter code above to create a pandas dataframe.

Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark 

dataframe, not the pandas dataframe.

Show the first 3 rows of the dataframe.

Show the first 7 rows of the dataframe.

View a summary of the data using .describe.

Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the 
first 3 rows of this dataframe.

Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the 
first 6 rows of this dataframe.

In [21]:
import pandas as pd
import numpy as np
import pyspark

In [22]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [23]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [24]:
df.show(3)

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|0.8129371988209155|    x|false|
|0.0910914505128047|    y| true|
|1.5453366753509763|    y|false|
+------------------+-----+-----+
only showing top 3 rows

In [25]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.8129371988209155|    x|false|
|  0.0910914505128047|    y| true|
|  1.5453366753509763|    y|false|
| -0.3311382914531184|    x|false|
|  0.9313433201098019|    y| true|
|-0.24070753303643708|    x|false|
|   1.087093882125782|    z| true|
+--------------------+-----+-----+
only showing top 7 rows

In [26]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.13397793943323427| null|
| stddev| 0.8529083906856362| null|
|    min|-1.7447150950876138|    x|
|    max| 1.5453366753509763|    z|
+-------+-------------------+-----+

In [27]:
df_n_abool = df.select('n','abool')
df_n_abool.show(5)

+-------------------+-----+
|                  n|abool|
+-------------------+-----+
| 0.8129371988209155|false|
| 0.0910914505128047| true|
| 1.5453366753509763|false|
|-0.3311382914531184|false|
| 0.9313433201098019| true|
+-------------------+-----+
only showing top 5 rows

In [28]:
df_group_abool = df.select('group','abool')
df_group_abool.show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    x|false|
|    y| true|
|    y|false|
|    x|false|
|    y| true|
+-----+-----+
only showing top 5 rows

In [29]:
df_group_abool = df.select('group', df.abool.alias('True'))
df_group_abool.show(3)

+-----+-----+
|group| True|
+-----+-----+
|    x|false|
|    y| true|
|    y|false|
+-----+-----+
only showing top 3 rows

In [30]:
df_group_abool = df.select(df.group.alias('1'),df.abool.alias('2'))
df_group_abool.show(6)

+---+-----+
|  1|    2|
+---+-----+
|  x|false|
|  y| true|
|  y|false|
|  x|false|
|  y| true|
|  x|false|
+---+-----+
only showing top 6 rows

1. Column Manipulation

    1. Use the starter code above to re-create a spark dataframe. Store the
       spark dataframe in a varaible named `df`

    1. Use `.select` to add 4 to the `n` column. Show the results.

    1. Subtract 5 from the `n` column and view the results.

    1. Multiply the `n` column by 2. View the results along with the original
       numbers.

    1. Add a new column named `n2` that is the `n` value multiplied by -1. Show
       the first 4 rows of your dataframe. You should see the original `n` value
       as well as `n2`.

    1. Add a new column named `n3` that is the n value squared. Show the first 5
       rows of your dataframe. You should see both `n`, `n2`, and `n3`.

    1. What happens when you run the code below?

        ```python
        df.group + df.abool
        ```

    1. What happens when you run the code below? What is the difference between
       this and the previous code sample?

        ```python
        df.select(df.group + df.abool)
        ```

    1. Try adding various other columns together. What are the results of
       combining the different data types?

In [31]:
from pyspark.sql.functions import col, expr

In [32]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [33]:
df.show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.8961118796640158|    z| true|
|0.25273982979614745|    z|false|
|-0.6453890479473521|    y| true|
|0.48466929140525594|    z|false|
|-0.2435548348504187|    z| true|
+-------------------+-----+-----+
only showing top 5 rows

In [34]:
df_add_4 = df.select(df.n + 4, df.group, df.abool)
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.8961118796640158|    z| true|
| 0.25273982979614745|    z|false|
| -0.6453890479473521|    y| true|
| 0.48466929140525594|    z|false|
| -0.2435548348504187|    z| true|
| -0.6636257694233848|    z| true|
|  1.8949633752749824|    y| true|
| 0.03879929562778278|    z| true|
|  -0.212870179251579|    x| true|
|  0.6384613196359048|    z|false|
| 0.16481129926672627|    x| true|
| -1.0426632033218726|    y|false|
| -0.6602088500965239|    y| true|
|  0.8626465826209326|    z| true|
| -0.7096744823521267|    z| true|
| -1.2397470112347688|    y| true|
|  1.4006783999609003|    z|false|
|   0.429832197003883|    y|false|
|-0.40382180555849034|    y| true|
| 0.09906442811221136|    y|false|
+--------------------+-----+-----+

In [61]:
df_sub_5 = df.select(df.n - 5, df.group, df.abool)
df.show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.3284239368477828|    y|false|
|-1.1388677916321555|    y|false|
|0.13133236983850768|    z| true|
|  1.499089613929301|    x|false|
| -1.716993796330484|    x|false|
+-------------------+-----+-----+
only showing top 5 rows

In [45]:
df_X2 = df.select(df.n * 2, df.n)
df_X2.show(5)

+-------------------+-------------------+
|            (n * 2)|                  n|
+-------------------+-------------------+
|-1.7922237593280317|-0.8961118796640158|
| 0.5054796595922949|0.25273982979614745|
|-1.2907780958947042|-0.6453890479473521|
| 0.9693385828105119|0.48466929140525594|
|-0.4871096697008374|-0.2435548348504187|
+-------------------+-------------------+
only showing top 5 rows

1. Spark SQL

    1. Use the starter code above to re-create a spark dataframe.
    1. Turn your dataframe into a table that can be queried with spark SQL. Name
       the table `my_df`. Answer the rest of the questions in this section with
       a spark sql query (`spark.sql`) against `my_df`. After each step, view
       the first 7 records from the dataframe.
    1. Write a query that shows all of the columns from your dataframe.
    1. Write a query that shows just the `n` and `abool` columns from the
       dataframe.
    1. Write a query that shows just the `n` and `group` columns. Rename the
       `group` column to `g`.
    1. Write a query that selects `n`, and creates two new columns: `n2`, the
       original `n` values halved, and `n3`: the original n values minus 1.
    1. What happens if you make a SQL syntax error in your query?

In [53]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [54]:
df.createOrReplaceTempView("my_df")

In [56]:
spark.sql('''SELECT * FROM my_df''').show(7)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.3284239368477828|    y|false|
|-1.1388677916321555|    y|false|
|0.13133236983850768|    z| true|
|  1.499089613929301|    x|false|
| -1.716993796330484|    x|false|
| 0.5960840206563159|    y| true|
|-0.5554940205485847|    y|false|
+-------------------+-----+-----+
only showing top 7 rows

In [57]:
spark.sql('''SELECT n, abool
             FROM my_df''').show(7)

+-------------------+-----+
|                  n|abool|
+-------------------+-----+
|-0.3284239368477828|false|
|-1.1388677916321555|false|
|0.13133236983850768| true|
|  1.499089613929301|false|
| -1.716993796330484|false|
| 0.5960840206563159| true|
|-0.5554940205485847|false|
+-------------------+-----+
only showing top 7 rows

In [58]:
spark.sql('''SELECT n, group AS g
             FROM my_df''').show(7)

+-------------------+---+
|                  n|  g|
+-------------------+---+
|-0.3284239368477828|  y|
|-1.1388677916321555|  y|
|0.13133236983850768|  z|
|  1.499089613929301|  x|
| -1.716993796330484|  x|
| 0.5960840206563159|  y|
|-0.5554940205485847|  y|
+-------------------+---+
only showing top 7 rows

Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.

In [60]:
spark.sql('''
          SELECT n, (n/2) AS 2n, (n-1) AS 3n
          FROM my_df
          ''').show(7)

+-------------------+-------------------+--------------------+
|                  n|                 2n|                  3n|
+-------------------+-------------------+--------------------+
|-0.3284239368477828|-0.1642119684238914| -1.3284239368477828|
|-1.1388677916321555|-0.5694338958160777| -2.1388677916321557|
|0.13133236983850768|0.06566618491925384| -0.8686676301614923|
|  1.499089613929301| 0.7495448069646505| 0.49908961392930107|
| -1.716993796330484| -0.858496898165242| -2.7169937963304838|
| 0.5960840206563159|0.29804201032815797|-0.40391597934368406|
|-0.5554940205485847|-0.2777470102742923| -1.5554940205485845|
+-------------------+-------------------+--------------------+
only showing top 7 rows

1. Type casting

    1. Use the starter code above to re-create a spark dataframe.

    1. Use `.printSchema` to view the datatypes in your dataframe.

    1. Use `.dtypes` to view the datatypes in your dataframe.

    1. What is the difference between the two code samples below?

        ```python
        df.abool.cast('int')
        ```

        ```python
        df.select(df.abool.cast('int')).show()
        ```

    1. Use `.select` and `.cast` to convert the `abool` column to an integer
       type. View the results.
    1. Convert the `group` column to a integer data type and view the results.
       What happens?
    1. Convert the `n` column to a integer data type and view the results. What
       happens?
    1. Convert the `abool` column to a string data type and view the results.
       What happens?

In [62]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [64]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [66]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [67]:
df.abool.cast('int') # changes 'abool' to int

Column<b'CAST(abool AS INT)'>

In [69]:
df.select(df.abool.cast('int')).show(5) # shows abool as int

+-----+
|abool|
+-----+
|    0|
|    1|
|    1|
|    0|
|    0|
+-----+
only showing top 5 rows

In [71]:
df.select(df.abool.cast('int')).show(5)

+-----+
|abool|
+-----+
|    0|
|    1|
|    1|
|    0|
|    0|
+-----+
only showing top 5 rows

In [72]:
df.select(df.group.cast('int')).show(5)

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
+-----+
only showing top 5 rows

In [73]:
df.select(df.n.cast('int')).show(5)

+---+
|  n|
+---+
|  2|
|  1|
|  0|
| -1|
|  0|
+---+
only showing top 5 rows

1. Built-in Functions

    1. Use the starter code above to re-create a spark dataframe.
    1. Import the necessary functions from `pyspark.sql.functions`
    1. Find the highest `n` value.
    1. Find the lowest `n` value.
    1. Find the average `n` value.
    1. Use `concat` to change the `group` column to say, e.g. "Group: x" or
       "Group: y"
    1. Use `concat` to combine the `n` and `group` columns to produce results
       that look like this: "x: -1.432" or "z: 2.352"

In [74]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [83]:
from pyspark.sql.functions import concat,sum,avg,min,max,lit

In [84]:
df.select(max(df.n),min(df.n),avg(df.n)).show()

+------------------+-----------------+--------------------+
|            max(n)|           min(n)|              avg(n)|
+------------------+-----------------+--------------------+
|2.1413073401362026|-1.94783532978488|-0.10206248711230792|
+------------------+-----------------+--------------------+

In [86]:
df.select(concat(lit("Group: "), col('group'))).show(5)

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: x|
|              Group: x|
|              Group: z|
|              Group: z|
|              Group: y|
+----------------------+
only showing top 5 rows

In [91]:
df.select(concat(col('group'),lit(':'),col('n'))).show(5)

+--------------------+
| concat(group, :, n)|
+--------------------+
|x:-0.952918867797...|
|x:-1.304955973401164|
|z:-0.009396764764...|
|z:2.1413073401362026|
|y:0.1305368565456...|
+--------------------+
only showing top 5 rows

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.9529188677978936|    x|false|
|  -1.304955973401164|    x| true|
|-0.00939676476426...|    z| true|
|  2.1413073401362026|    z|false|
| 0.13053685654566957|    y| true|
+--------------------+-----+-----+
only showing top 5 rows

1. Filter / Where

    1. Use the starter code above to re-create a spark dataframe.
    1. Use `.filter` or `.where` to select just the rows where the group is `y`
       and view the results.
    1. Select just the columns where the `abool` column is false and view the
       results.
    1. Find the columns where the `group` column is *not* `y`.
    1. Find the columns where `n` is positive.
    1. Find the columns where `abool` is true and the `group` column is `z`.
    1. Find the columns where `abool` is true or the `group` column is `z`.
    1. Find the columns where `abool` is false and `n` is less than 1
    1. Find the columns where `abool` is false or `n` is less than 1

In [102]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [105]:
df.filter((df.group=='y')).show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.24551557663067314|    y| true|
| -0.3190973152521853|    y|false|
|  0.1989570248777289|    y| true|
|   3.245525595148494|    y| true|
|-0.22879499425780644|    y|false|
+--------------------+-----+-----+

In [106]:
df.filter((df.abool==False)).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-1.1900708111273732|    x|false|
| 1.2661843729863633|    x|false|
|  0.752264034289916|    z|false|
| -2.046618168943991|    x|false|
| 2.2104831525546276|    x|false|
+-------------------+-----+-----+
only showing top 5 rows

In [107]:
df.filter((df.group!='y')).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.5485559118903058|    z| true|
|-1.1900708111273732|    x|false|
| 0.4567140114878692|    z| true|
|-1.5220834337154558|    z| true|
| 1.2661843729863633|    x|false|
+-------------------+-----+-----+
only showing top 5 rows

In [108]:
df.filter((df.n>=0)).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
| 0.4567140114878692|    z| true|
| 1.2661843729863633|    x|false|
|  0.752264034289916|    z|false|
|0.13113489992163438|    x| true|
| 2.2104831525546276|    x|false|
+-------------------+-----+-----+
only showing top 5 rows

In [110]:
df.filter(df.abool==True).where(df.group=='z').show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.5485559118903058|    z| true|
|  0.4567140114878692|    z| true|
| -1.5220834337154558|    z| true|
|-0.37414105666343084|    z| true|
| -1.3918938736350355|    z| true|
+--------------------+-----+-----+
only showing top 5 rows

In [115]:
df.filter((df.abool==True) | (df.group=='z')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.5485559118903058|    z| true|
|  0.4567140114878692|    z| true|
| -1.5220834337154558|    z| true|
|   0.752264034289916|    z|false|
|-0.37414105666343084|    z| true|
| -1.3918938736350355|    z| true|
|-0.24551557663067314|    y| true|
| 0.13113489992163438|    x| true|
|  1.3659199127626693|    z|false|
| -0.8058204846847192|    z| true|
|  0.1989570248777289|    y| true|
|   3.245525595148494|    y| true|
|   1.573575091944084|    z| true|
|-0.22931907951190852|    x| true|
+--------------------+-----+-----+

In [117]:
df.filter((df.abool==False) & (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -1.1900708111273732|    x|false|
|   0.752264034289916|    z|false|
|  -2.046618168943991|    x|false|
| -0.3190973152521853|    y|false|
|-0.22879499425780644|    y|false|
+--------------------+-----+-----+

In [119]:
df.filter((df.abool==False) | (df.n < 1)).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-0.5485559118903058|    z| true|
|-1.1900708111273732|    x|false|
| 0.4567140114878692|    z| true|
|-1.5220834337154558|    z| true|
| 1.2661843729863633|    x|false|
+-------------------+-----+-----+
only showing top 5 rows

1. When / Otherwise

    1. Use the starter code above to re-create a spark dataframe.
    1. Use `when` and `.otherwise` to create a column that contains the text "It
       is true" when `abool` is true and "It is false"" when `abool` is false.
    1. Create a column that contains 0 if n is less than 0, otherwise, the
       original n value.

In [122]:
from pyspark.sql.functions import when

In [123]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [124]:
df.select(df.abool,when(df.abool==True, "It is True").otherwise("It is False").alias('Truth_String')).show(5)

+-----+------------+
|abool|Truth_String|
+-----+------------+
| true|  It is True|
| true|  It is True|
| true|  It is True|
|false| It is False|
|false| It is False|
+-----+------------+
only showing top 5 rows

In [127]:
df.select(df.n,when(df.n < 0, 0).otherwise(df.n).alias('Positive_or_Zero')).show(10)

+--------------------+-------------------+
|                   n|   Positive_or_Zero|
+--------------------+-------------------+
|   0.965877955460664|  0.965877955460664|
| -1.2222063988118825|                0.0|
|   1.253240449412012|  1.253240449412012|
|  0.4160728747383398| 0.4160728747383398|
| -0.4075229755234006|                0.0|
|  1.2087422998322255| 1.2087422998322255|
|-0.39408031374251906|                0.0|
| 0.40297869020310917|0.40297869020310917|
| -1.4146750338670233|                0.0|
|-0.14875979705925765|                0.0|
+--------------------+-------------------+
only showing top 10 rows

1. Sorting

    1. Use the starter code above to re-create a spark dataframe.
    1. Sort by the `n` value.
    1. Sort by the `group` value, both ascending and descending.
    1. Sort by the group value first, then, within each group, sort by `n`
       value.
    1. Sort by `abool`, `group`, and `n`. Does it matter in what order you
       specify the columns when sorting?

In [92]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [94]:
df.sort(col('n')).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|-1.1515085443856319|    z| true|
| -1.009589708385093|    x|false|
|-0.6148472378529147|    y|false|
|-0.5959164594823737|    z|false|
|-0.4759578214832985|    x| true|
+-------------------+-----+-----+
only showing top 5 rows

In [95]:
df.sort(col('group')).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|0.40688412957396614|    x|false|
|0.25598638794647194|    x| true|
|-0.2818700233336481|    x|false|
|0.14754486978665704|    x| true|
| -1.009589708385093|    x|false|
+-------------------+-----+-----+
only showing top 5 rows

In [97]:
df.sort(col('group').desc()).show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.4577372907299206|    z|false|
|  1.7678038635362425|    z|false|
|-0.12281083393578104|    z| true|
| -0.5959164594823737|    z|false|
| -1.1515085443856319|    z| true|
+--------------------+-----+-----+
only showing top 5 rows

In [99]:
df.sort(df.group, df.n).show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
| -1.009589708385093|    x|false|
|-0.4759578214832985|    x| true|
|-0.2818700233336481|    x|false|
|-0.2450330659435416|    x|false|
|0.14754486978665704|    x| true|
+-------------------+-----+-----+
only showing top 5 rows

In [100]:
df.sort(df.abool, df.group, df.n).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.009589708385093|    x|false|
| -0.2818700233336481|    x|false|
| -0.2450330659435416|    x|false|
| 0.40688412957396614|    x|false|
| -0.6148472378529147|    y|false|
|0.012962846084642822|    y|false|
| 0.39964809161079323|    y|false|
|   0.431183579580352|    y|false|
|  1.7756123786034375|    y|false|
| -0.5959164594823737|    z|false|
|  0.4577372907299206|    z|false|
|  1.7678038635362425|    z|false|
| -0.4759578214832985|    x| true|
| 0.14754486978665704|    x| true|
| 0.25598638794647194|    x| true|
|-0.27437754919665003|    y| true|
|-0.21332970863234177|    y| true|
|  0.4248849348398329|    y| true|
| -1.1515085443856319|    z| true|
|-0.12281083393578104|    z| true|
+--------------------+-----+-----+

In [101]:
df.sort(df.group, df.abool, df.n).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.009589708385093|    x|false|
| -0.2818700233336481|    x|false|
| -0.2450330659435416|    x|false|
| 0.40688412957396614|    x|false|
| -0.4759578214832985|    x| true|
| 0.14754486978665704|    x| true|
| 0.25598638794647194|    x| true|
| -0.6148472378529147|    y|false|
|0.012962846084642822|    y|false|
| 0.39964809161079323|    y|false|
|   0.431183579580352|    y|false|
|  1.7756123786034375|    y|false|
|-0.27437754919665003|    y| true|
|-0.21332970863234177|    y| true|
|  0.4248849348398329|    y| true|
| -0.5959164594823737|    z|false|
|  0.4577372907299206|    z|false|
|  1.7678038635362425|    z|false|
| -1.1515085443856319|    z| true|
|-0.12281083393578104|    z| true|
+--------------------+-----+-----+

1. Aggregating

    1. What is the average `n` value for each group in the `group` column?
    1. What is the maximum `n` value for each group in the `group` column?
    1. What is the minimum `n` value by `abool`?
    1. What is the average `n` value for each unique combination of the `group`
       and `abool` column?

In [128]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pandas_dataframe)

In [131]:
df.groupBy(df.group).agg(avg(df.n)).show()

+-----+--------------------+
|group|              avg(n)|
+-----+--------------------+
|    x| 0.12734729726412766|
|    z|-0.37026669931343775|
|    y| 0.20798019748146832|
+-----+--------------------+

In [132]:
df.groupBy(df.group).agg(max(df.n)).show()

+-----+------------------+
|group|            max(n)|
+-----+------------------+
|    x|0.6420752442289691|
|    z|0.9809816957432566|
|    y|1.9171665474777455|
+-----+------------------+

In [134]:
df.groupBy(df.group,df.abool).agg(avg(df.n)).show()

+-----+-----+--------------------+
|group|abool|              avg(n)|
+-----+-----+--------------------+
|    z|false|-0.30246470831506317|
|    y|false| 0.33441380209377886|
|    y| true|-0.10810381404930802|
|    x|false| 0.42572970273978394|
|    x| true| -0.2704959100367474|
|    z| true| -0.4380686903118123|
+-----+-----+--------------------+