Create a spark data frame that contains your favorite programming languages.

The name of the column should be language

View the schema of the dataframe

Output the shape of the dataframe

Show the first 5 records in the dataframe

Load the mpg dataset as a spark dataframe.

Create 1 column of output that contains a message like the one below:


The 1999 audi a4 has a 4 cylinder engine.
For each vehicle.

Transform the trans column so that it only contains either manual or auto.

Load the tips dataset as a spark dataframe.

What percentage of observations are smokers?

Create a column that contains the tip percentage

Calculate the average tip percentage for each combination of sex and smoker.

Use the seattle weather dataset referenced in the lesson to answer the questions below.

Convert the temperatures to farenheight.

Which month has the most rain, on average?

Which year was the windiest?

What is the most frequent type of weather in January?

What is the average high and low tempurature on sunny days in July in 2013 and 2014?

What percentage of days were rainy in q3 of 2015?
For each year, find what percentage of days it rained (had non-zero precipitation).

In [1]:
import pyspark
import pandas as pd
import numpy as np
import pyspark.sql.functions as F

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [2]:
data=['Python','R','Java','C++','C#']
df = pd.DataFrame(data, columns = ['language'])

In [3]:
df = spark.createDataFrame(df)

In [4]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [5]:
print((df.count(), len(df.columns)))

(5, 1)

In [6]:
df.show(5)

+--------+
|language|
+--------+
|  Python|
|       R|
|    Java|
|     C++|
|      C#|
+--------+

Load the mpg dataset as a spark dataframe.

Create 1 column of output that contains a message like the one below:
The 1999 audi a4 has a 4 cylinder engine. For each vehicle.

Transform the trans column so that it only contains either manual or 
auto.

In [7]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [8]:
mpg.select(F.concat(F.lit('The '),mpg.year,F.lit(' '),mpg.manufacturer,F.lit(' '),mpg.model,F.lit(' has a '),mpg.cyl,F.lit(' cylinder engine.'))).show(10,truncate=False)

+------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl,  cylinder engine.)|
+------------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                                     |
|The 1999 audi a4 has a 4 cylinder engine.                                     |
|The 2008 audi a4 has a 4 cylinder engine.                                     |
|The 2008 audi a4 has a 4 cylinder engine.                                     |
|The 1999 audi a4 has a 6 cylinder engine.                                     |
|The 1999 audi a4 has a 6 cylinder engine.                                     |
|The 2008 audi a4 has a 6 cylinder engine.                                     |
|The 1999 audi a4 quattro has a 4 cylinder engine.                             |
|The 1999 audi a4 quattro has a 4 cylinder engine.                             |
|The 2008 audi a4 quattro has a 4 cylinder engine.                             |
+------------------------------------------------------------------------------+
only showing top 10 rows

In [9]:
from pyspark.sql.functions import when

mpg.select(when(mpg.trans[1:4]=='auto', 'auto').otherwise('manual').alias('trans')).show(5)

+------+
| trans|
+------+
|  auto|
|manual|
|manual|
|  auto|
|  auto|
+------+
only showing top 5 rows

Load the tips dataset as a spark dataframe.

What percentage of observations are smokers?

Create a column that contains the tip percentage

Calculate the average tip percentage for each combination of sex and smoker.

In [10]:
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean

In [11]:
tips = spark.createDataFrame(data("tips"))
tips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [12]:
print((tips.count(), len(tips.columns)))

(244, 7)

In [13]:
tips.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: long (nullable = true)

In [14]:
tips.filter(tips.smoker=='Yes').count() / tips.count()

0.38114754098360654

In [34]:
tips.select((tips.tip / tips.total_bill).alias('tip_percentage')).show(10)

+-------------------+
|     tip_percentage|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
|0.18623962040332148|
|0.22805017103762829|
|0.11607142857142858|
|0.13031914893617022|
| 0.2185385656292287|
+-------------------+
only showing top 10 rows

In [16]:
tips.groupby(tips.sex, tips.smoker).agg(avg('tip')).show()

+------+------+-----------------+
|   sex|smoker|         avg(tip)|
+------+------+-----------------+
|  Male|    No| 3.11340206185567|
|  Male|   Yes|3.051166666666667|
|Female|    No|2.773518518518518|
|Female|   Yes|2.931515151515151|
+------+------+-----------------+

Use the seattle weather dataset referenced in the lesson to answer the questions below.

Convert the temperatures to farenheight.

Which month has the most rain, on average?

Which year was the windiest?

What is the most frequent type of weather in January?

What is the average high and low tempurature on sunny days in July in 2013 and 2014?

What percentage of days were rainy in q3 of 2015? For each year, find what percentage of days it rained (had non-zero precipitation).

In [17]:
from vega_datasets import data

weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
df = spark.createDataFrame(weather)
df.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

In [33]:
df.select((df.temp_max * 9 / 5 + 32).alias('fahrenheit_max'),(df.temp_min* 9 / 5 + 32).alias('fahrenheit_min')).show(5)

+--------------+--------------+
|fahrenheit_max|fahrenheit_min|
+--------------+--------------+
|         55.04|          41.0|
|         51.08|         37.04|
|         53.06|         44.96|
|         53.96|         42.08|
|         48.02|         37.04|
+--------------+--------------+
only showing top 5 rows

In [19]:
f_max = df.select(df.date,df.temp_max * 9 / 5 + 32).alias('fahrenheit_max')

In [20]:
f_min = df.select(df.date,df.temp_max * 9 / 5 + 32).alias('fahrenheit_min')

In [21]:
df.groupby(df.date[0:4]).agg(avg('wind')).show()

+---------------------+------------------+
|substring(date, 0, 4)|         avg(wind)|
+---------------------+------------------+
|                 2012| 3.400819672131148|
|                 2014| 3.387671232876714|
|                 2013|3.0158904109589058|
|                 2015| 3.159726027397261|
+---------------------+------------------+

In [22]:
df.groupby(df.date[6:2]).agg(avg('precipitation')).show()

+---------------------+-------------------+
|substring(date, 6, 2)| avg(precipitation)|
+---------------------+-------------------+
|                   07|0.38870967741935486|
|                   11|  5.354166666666667|
|                   01| 3.7580645161290316|
|                   09| 1.9624999999999997|
|                   05| 1.6733870967741935|
|                   08| 1.3201612903225806|
|                   03|  4.888709677419355|
|                   02|  3.734513274336283|
|                   06| 1.1075000000000002|
|                   10|  4.059677419354839|
|                   12|  5.021774193548389|
|                   04|  3.128333333333333|
+---------------------+-------------------+

In [23]:
df2 = df.select(df.weather).where(df.date[6:2]=='01')
df2.groupBy('weather').count().show()

+-------+-----+
|weather|count|
+-------+-----+
|    fog|   38|
|drizzle|   10|
|   rain|   35|
|    sun|   33|
|   snow|    8|
+-------+-----+

What is the average high and low tempurature on sunny days in July in 2013 and 2014?

In [24]:
df.filter((df.weather=='sun') & (df.date[6:2]=='07') & ((df.date[0:4]=='2013') | (df.date[0:4]=='2014'))).agg(avg(df.temp_min)).show()

+-----------------+
|    avg(temp_min)|
+-----------------+
|14.18269230769231|
+-----------------+

In [25]:
df.filter((df.weather=='sun') & (df.date[6:2]=='07') & ((df.date[0:4]=='2013') | (df.date[0:4]=='2014'))).agg(avg(df.temp_max)).show()

+------------------+
|     avg(temp_max)|
+------------------+
|26.828846153846158|
+------------------+

What percentage of days were rainy in q3 of 2015? 

7,8,9

For each year, find what percentage of days it rained (had non-zero precipitation).

In [35]:
df.filter(df.date[0:4]=='2015').filter((df.date[6:2] > 6) & (df.date[6:2] < 10)).filter(df.precipitation > 0).count() / df.filter(df.date[0:4]=='2015').filter((df.date[6:2] > 6) & (df.date[6:2] < 10)).count()

0.18478260869565216

In [27]:
df.groupby(df.date[0:4]).count().show()

+---------------------+-----+
|substring(date, 0, 4)|count|
+---------------------+-----+
|                 2012|  366|
|                 2014|  365|
|                 2013|  365|
|                 2015|  365|
+---------------------+-----+

In [37]:
df.filter(df.date[0:4]==2012).where(df.precipitation > 0).count() / df.filter(df.date[0:4]==2012).count()

0.48360655737704916

In [38]:
df.filter(df.date[0:4]==2013).where(df.precipitation > 0).count() / df.filter(df.date[0:4]==2012).count()

0.41530054644808745

In [39]:
df.filter(df.date[0:4]==2014).where(df.precipitation > 0).count() / df.filter(df.date[0:4]==2012).count()

0.4098360655737705

In [40]:
df.filter(df.date[0:4]==2015).where(df.precipitation > 0).count() / df.filter(df.date[0:4]==2012).count()

0.39344262295081966