In [250]:
# Exercises
# Our scenario continues:

# As a customer analyst, I want to know who has spent the most money with us over their lifetime. 
# I have monthly charges and tenure, so I think I will be able to use those two attributes as 
# features to estimate total_charges. I need to do this within an average of $5.00 per customer.

# create a notebook named model.ipynb.

# run all your previous scripts that acquired, prepared, split, and scaled your data.
# select your features using your features script
# fit 2 different linear models to your data
# evaluate the 2 models and your baseline.
# select the one that performed the best.
# apply to your test data
# Write a function that creates the model object, fits and predicts, given X_train, X_test, y_train, y_test
# Write a function, plot_residuals(x, y, dataframe) that takes the feature, the target, and the dataframe as input and returns a residual plot.
# Write a function, plot_regression(x, y) that takes a feature and a target and returns the datapoints, the regression line, and the confidence interval.

In [251]:
# run all your previous scripts that acquired, prepared, split, and scaled your data.

In [252]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from statsmodels.formula.api import ols
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")

import env
import wrangle as w
import split_scale as ss 
import features as f
import evaluate as e

In [253]:
# aquire and prepare data 
w.wrangle_telco().head()

  customer_id  tenure  monthly_charges  total_charges
0  0013-SMEOE      71           109.70        7904.25
1  0014-BMAQU      63            84.65        5377.80
2  0016-QLJIS      65            90.45        5957.90
3  0017-DINOC      54            45.20        2460.55
4  0017-IUDMW      72           116.80        8456.75

In [254]:
# assign df to variable df
df = w.wrangle_telco()
df.head()

  customer_id  tenure  monthly_charges  total_charges
0  0013-SMEOE      71           109.70        7904.25
1  0014-BMAQU      63            84.65        5377.80
2  0016-QLJIS      65            90.45        5957.90
3  0017-DINOC      54            45.20        2460.55
4  0017-IUDMW      72           116.80        8456.75

In [255]:
# split data and assign to variables 
y = df[['total_charges']]
x = df[['tenure','monthly_charges']]
train_pct = .8
x_train, x_test, y_train, y_test = ss.split_my_data(x, y, train_pct)

In [256]:
x_train.shape

(1348, 2)

In [257]:
x_test.shape

(337, 2)

In [258]:
y_train.shape

(1348, 1)

In [259]:
y_test.shape

(337, 1)

In [260]:
# scale x using standard scaler
x_train_scaled, x_test_scaled, scaler = ss.standard_scaler(x_train,x_test)

In [261]:
x_train_scaled.head()

        tenure  monthly_charges
1534 -1.023276        -1.186117
1637 -2.305548        -1.056400
1235  0.841848         0.915288
27   -2.888399        -1.186117
197   0.841848        -1.203412

In [262]:
x_test_scaled.head()

       tenure  monthly_charges
543 -3.004969        -1.034781
965 -1.314701        -1.187558
200  0.317282         0.810074
426 -0.790135         1.118511
395  0.608708         0.683240

In [263]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [264]:
# select your features using your features script

In [265]:
# use recursive feature elimination to select optimal number of veriables and set to a veriable
k = f.recursive_feature_elimination(x_train,y_train)
k

2

In [266]:
# use select k best with f-regression to determine best features and set to a veriable
feature_list = f.select_kbest_freg_scaled2(x_train_scaled, y_train, k)
feature_list

['tenure', 'monthly_charges']

In [267]:
#fit 2 different linear models to your data

In [268]:
# create tenure model
# create the OLS object:
ols_model = sm.OLS(y_train, x_train_scaled.tenure)

# fit the model:
fit = ols_model.fit()

# summarize:
e.model_significance(fit)

'The amount of variance explained in this modle is 0.124 and the Pvalue for the modle is 0.0.'

In [269]:
# create monthly charges model
# create the OLS object:
ols_model = sm.OLS(y_train, x_train_scaled.monthly_charges)

# fit the model:
fit = ols_model.fit()

# summarize:
e.model_significance(fit)

'The amount of variance explained in this modle is 0.284 and the Pvalue for the modle is 0.0.'

In [270]:
# # define total_charges_mean and create column
y_train['total_charges_mean'] = y_train.total_charges.mean()

y_train.head()

      total_charges  total_charges_mean
1534         777.35         3778.666988
1637         471.35         3778.666988
1235        6735.05         3778.666988
27           165.50         3778.666988
197         1463.45         3778.666988

In [271]:
# create baseline model
# create the OLS object:
ols_model = sm.OLS(y_train.total_charges, y_train.total_charges_mean)

# fit the model:
fit = ols_model.fit()

# summarize:
e.model_significance(fit)

'The amount of variance explained in this modle is -0.0 and the Pvalue for the modle is nan.'

In [ ]:
# evaluate the 2 models and your baseline.
# variance explained by tenure modle was .124
# variance explained by monthly_charges modle was .284
# both molel's P_value was below .0
# baseline variance explained was below .0 P_value was nan

In [ ]:
# select the one that performed the best.
# monthly_charges model worked the best.

In [ ]:
# apply to your test data???????????

In [ ]:
# Write a function that creates the model object, fits and predicts, given X_train, X_test, y_train, y_test