In [22]:
import numpy
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [23]:
df = pd.read_csv('the_data.csv')

In [24]:
df.timestamp = pd.to_datetime(df.timestamp)

In [25]:
df = df.set_index('timestamp')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48 entries, 2018-04-30 00:00:00 to 2018-05-01 23:00:00
Data columns (total 2 columns):
x    48 non-null float64
y    48 non-null object
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

By Group

What is the maximum x value for group B?
What is the average x value for group A?
What is the minimum x value for group C?
Which group has the highest sum of x values?
Time Aggregates

What is the sum of the x values for 2018-05-01?
What is the average x value for each day? The median?
Which day has the largest x value?
Which day has the smallest x value for group C?
Visualization

Visualize the minimum x value of each group with a bar chart.
Visualize x over time.
Visualize x over time by y value.
More Aggregation

What is the least frequent y value for 2018-04-30?
What is the most frequent y value for each day?

What is the maximum x value for group B? 

What is the average x value for group A? 

What is the minimum x value for group C? 

Which group has the highest sum of x values?

In [27]:
# What is the maximum x value for group B?   1.91
df.x.groupby(df.y).max()

y
A    1.84
B    1.91
C    2.06
Name: x, dtype: float64

In [34]:
# What is the average x value for group A? -0.110556
df.groupby(df.y).x.mean()

y
A   -0.110556
B   -0.053846
C    0.232353
Name: x, dtype: float64

In [29]:
# What is the minimum x value for group C?  -1.83
df.x.groupby(df.y).min()

y
A   -1.30
B   -2.05
C   -1.83
Name: x, dtype: float64

In [36]:
# Which group has the highest sum of x values?  3.95
df.x.groupby(df.y).sum().idxmax() #gets value returns index of max value

'C'

What is the sum of the x values for 2018-05-01? 

What is the average x value for each day? 

The median? 

Which day has the largest x value? 

Which day has the smallest x value for group C? 

Visualization

In [31]:
df.head()

                        x  y
timestamp
2018-04-30 00:00:00  1.84  A
2018-04-30 01:00:00  1.47  C
2018-04-30 02:00:00  0.20  B
2018-04-30 03:00:00  0.17  C
2018-04-30 04:00:00  2.06  C

In [38]:
# What is the sum of the x values for 2018-05-01? -4.02
df.resample('D').agg('sum')

               x
timestamp
2018-04-30  5.28
2018-05-01 -4.02

In [39]:
# What is the average x value for each day?
df.resample('D').agg('mean')

                 x
timestamp
2018-04-30  0.2200
2018-05-01 -0.1675

In [40]:
# The median?
df.resample('D').agg('median')

                x
timestamp
2018-04-30  0.175
2018-05-01  0.220

In [50]:
# Which day has the largest x value?  C
df.resample('D').agg('max')

               x  y
timestamp
2018-04-30  2.06  C
2018-05-01  1.91  C

In [56]:
# Which day has the smallest x value for group C?
df.resample('d').groupby('y').min()

TypeError: 'TimeGrouper' object is not callable